<form class="form" action="" [formGroup]="myForm" (ngSubmit)="saveData();savedDiv=true;">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="form-group col-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
                    <div *ngIf="myForm.controls.nome.touched">
                        <div *ngIf="myForm.invalid && myForm.controls.nome.errors?.required" class="alert-danger">
                            Questo campo va compilato
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="cognome">Cognome:</label>
                    <input type="text" class="form-control" id="cognome" name="cognome" formControlName="cognome">
                    <div *ngIf="myForm.controls.cognome.touched">
                        <div *ngIf="myForm.invalid && myFCont.cognome.errors?.required">
                            Questo campo va compilato
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="codiceFiscale">Codice Fiscale</label>
                <input type="text" class="form-control" id="codiceFiscale" name="codiceFiscale"
                    formControlName="codiceFiscale">
                <div *ngIf="myForm.controls.codiceFiscale.touched">
                    <div *ngIf="myFCont.codiceFiscale.errors?.required" class="alert-danger">
                        Questo campo va compilato
                    </div>
                    <div *ngIf="myFCont.codiceFiscale.errors?.pattern" class="alert-danger">
                        Il formato non è corretto, usare le maiuscole
                    </div>
                    <div *ngIf="myForm.controls.codiceFiscale.errors?.cFInvalid" class="alert-danger">
                        Il codice inserito è gia prsente nel database
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div class="form-group">
                    Genere:
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genere" id="genderM" [value]="'M'" checked
                            formControlName="genere">
                        <label class="form-check-label" for="exampleRadios1">
                            M
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genere" id="genderF" [value]="'F'"
                            formControlName="genere">
                        <label class="form-check-label" for="exampleRadios2">
                            F
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="dataN">Data di Nascita</label>
                    <input type="date" class="form-control" id="dataN" name="dataN" formControlName="dataN">
                </div>
                <div *ngIf="myForm.controls.dataN.touched">
                    <div *ngIf="myForm.invalid && myFCont.dataN.errors?.required">
                        Questo campo va compilato
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="eta">Età</label>
                    <input type="number" class="form-control" id="eta" name="eta" readonly formControlName="eta"
                        [value]="myForm.value.eta">
                </div>
            </div>
            <div class="form-group">
                <label for="contratto">Contratto</label>
                <select matNativeControl class="form-control" name="contratto" id="contratto"
                    formControlName="contratto">
                    <option [value]="'stage'">Stage</option>
                    <option [value]="'apprendistato'">Apprendistato</option>
                    <option [value]="'tempoDeterminato'">Tempo Determinato</option>
                    <option [value]="'tempoIndeterminato'">Tempo Indeterminato</option>
                </select>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    <div *ngIf="myForm.controls.email.touched">
                        <div *ngIf="myFCont.email.errors?.required" class="alert-danger">
                            Questo campo va compilato
                        </div>
                        <div *ngIf="myFCont.email.errors?.pattern" class="alert-danger">
                            Il formato non è corretto
                        </div>
                        <div *ngIf="myForm.controls.email.errors?.emailInvalid" class="alert-danger">
                            La mail inserita è gia presente nel database
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        formControlName="password">
                    <div *ngIf="myForm.controls.password.touched">
                        <div *ngIf="myFCont.password.errors?.required" class="alert-danger">
                            Questo campo va compilato
                        </div>
                        <div *ngIf="myFCont.password.errors?.pattern" class="alert-danger">
                            La password deve contenere almeno una lettera Maiuscola, una minuscola, un numero e avere 8 caratteri alfanumerici
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="passwordConf">Conferma Password</label>
                    <input type="password" class="form-control" id="passwordConf" name="passwordConf"
                        formControlName="passwordConf" [pattern]="myForm.controls.password.value">
                    <div *ngIf="myForm.controls.passwordConf.touched">
                        <div *ngIf="myFCont.passwordConf.errors?.required" class="alert-danger">
                            Questo campo va compilato
                        </div>
                        <div *ngIf="myFCont.passwordConf.errors?.pattern" class="alert-danger">
                            Le password devono essere uguali
                        </div>
                    </div>
                </div>

                <br>{{myFCont.password.errors?.controlloPsw}}
            </div>
            <div class="row justify-content-center row">
                <button class="btn btn-primary" type="submit">Conferma</button>
                <button class="btn btn-success">Reset</button>
            </div>
        </div>
    </fieldset>
</form>     
<div *ngIf="savedDiv" class="card position-fixed" id="saveConf">
    <div class="card-header bg-dark text-white text-weight-bold">
        <button class="btn btn-light btn-sm" (click)="savedDiv=false;">
            <fa-icon [icon]="iconClose"></fa-icon>
        </button>
    </div>
    <div class="card-body">I dati inseriti sono stati <br> salvati correttamente</div>
</div>