<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">CodiceFiscale</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr app-user *ngFor="let user of users" [_user]="user" (showInfo)="_onShowInfo($event)"></tr>
    </tbody>
</table>
<app-user-info class="card position-fixed" *ngIf="show" [user] = "show" (close)="_onClose($event)"></app-user-info>