<div class="card mb-3 text-white bg-secondary">
    <div class="card-header">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a href="#userList" class="nav-link active font-weight-bold text-white" data-toggle="tab" role="tab">Lista Utenti</a>
            </li>
            <li class="nav-item">
                <a href="#userAdd" class="nav-link font-weight-bold text-white" data-toggle="tab" role="tab">Aggiungi Utente</a>
            </li>
        </ul>
        <div class="tab-content">
            <app-user-list class="tab-pane show active bg-white" id="userList" role="tabpanel"></app-user-list>
            <app-form class="tab-pane border-right border-left border-bottom bg-white" id="userAdd" role="tabpanel"></app-form>
                
        </div>
    </div>
</div>