<div class="card-header bg-dark text-white text-weight-bold">
    <div class="row">
        <div class="col-11">
            Informazioni utente: {{user.nome}} {{user.congome}}
        </div>
        <div class="col-1">
            <button class="btn btn-light btn-sm" (click)="_onClose()">
                <fa-icon [icon]="iconClose"></fa-icon>
            </button>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table">
        <tr>
            <th scope="col">Nome</th>
            <td>{{user.nome}}</td>
        </tr>
        <tr>
            <th scope="col">Cognome</th>
            <td>{{user.congome}}</td>
        </tr>
        <tr>
            <th scope="col">Codice Fiscale</th>
            <td>{{user.codiceFiscale}}</td>
        </tr>
        <tr>
            <th scope="col">Genere</th>
            <td>{{user.genere}}</td>
        </tr>
        <tr>
            <th scope="col">Data di Nascita</th>
            <td>{{user.dataN}}</td>
        </tr>
        <tr>
            <th scope="col">Eta</th>
            <td>{{user.eta}}</td>
        </tr>
        <tr>
            <th scope="col">Contratto</th>
            <td>{{user.contratto}}</td>
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td>{{user.email}}</td>
        </tr>
    </table>

</div>