<app-navbar class="navbar navbar-dark bg-dark d-flex justify-content-center"></app-navbar>
<div class="mainContent container-fluid w-100 m-auto d-flex justify-content-center align-items-center">
    <app-content class="w-75"></app-content>
</div>