<a class="navbar-brand" href="#">
    <div class="row">
        <div class="col-1 d-flex justify-content-left">
            <fa-icon [icon]="homeIcon" size="3x"></fa-icon>
        </div>
        <div class="col-10">
            <h1>PAGINA DI AMMINISTRAZIONE</h1>
        </div>
        <div class="col-1">
            Benvenuto, Christian.
        </div>

    </div>
</a>