<td>{{_user.nome}}</td>
<td>{{_user.congome}}</td>
<td>{{_user.codiceFiscale}}</td>
<td>
    <div class="row text-center">
        <div class="col-6">
            <button class="btn btn-primary" (click)="_onShowInfo()"><fa-icon [icon]="icona"></fa-icon></button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger" ><fa-icon [icon]="iconaDel" (click)="_onDeleteUser()"></fa-icon></button>
        </div>
    </div>
</td>
