body{
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
}
/* body div {
    border-style: dotted;
} */

.container{
    width: auto;
}

/***************HEADER*******************/
 #header {
    background-color: rgb(24, 24, 24);
    width: auto;
    height: 10vh;
    vertical-align: middle;
}

#header h1{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
}

/***************MAIN_BLOCK*******************/
#mainBlock{
    background-image: linear-gradient(to top right, rgb(219, 219, 219), grey);
    width: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subBlock{
    background-image: linear-gradient(to top right, white, rgb(139, 139, 139));
    border-style: solid;
    border-color: rgb(49, 49, 49);
    width: 90%;
    min-height: 70%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}
/*
#subBlock > div {
    width: 80%;
    background-color: white;
} */



/***********ACCORDION************************/
#btBlock{
    width: 100%;
    height: 10%;
    display: flex;
}
.bt{
    background-color: rgb(99, 99, 99);
    margin: 0%;
    border: 0;
    width: 50%;     
    display: flex;
    justify-content: center;
}
.bt > p{
    font-family: 'Kanit', sans-serif;
    color: white;
    display: block;
}
.bt:hover{
    background-color: rgb(77, 77, 77);;
}

#content{
    flex: 1;
    display: flex;
}

#bloccoLista{
    flex: 1;
}

#bloccoAggiunta{
    display: none;
    flex: 1; 
    background-color: rgb(202, 202, 202);
}

#bloccoPersona{
    background-image: linear-gradient(to top right, rgb(219, 219, 219), grey);
    box-shadow:  5px 10px 18px rgb(0, 0, 0);
    display: none;
    position: fixed;
    height: 40%;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid black;
    /* display: none; */
}
#close{
    position: absolute;
    right: 2%;
    top: 2%;
    height: 1vh;
    width: 1vh;
}

#close img:hover{
    filter: invert();
}

#close img{
    height: 100%;
    width: 100%;
}

#infoPersona{
    font-family: 'Kanit', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
}

#bloccoLista table{
    font-family: 'Kanit', sans-serif;
    width: 100%;
}

#bloccoLista table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid grey;
}

#bloccoLista table th{
    background-color: rgb(82, 82, 82);
    color: white;
    height: 40px;
}

#bloccoLista table tr{
    height: 65px;
}

#bloccoLista table tr:nth-child(odd){
    background-color: rgb(199, 199, 199);
}
#bloccoLista table tr:nth-child(even){
    background-color: rgb(151, 151, 151);
}

.tbt img{
    width: 20px;
    height: 20px;
}

.tdv, .tdd{
    text-align: center;
}



/* 
#bt1:hover,#bt2:hover{
    background-color: rgb(114, 114, 114);
    color: white;
}

#bloccoLista, #bloccoAggiunta{
    display: block;
    min-height: 20h;
}

#bloccoAggiunta{
    display: none;
}

#bloccoLista table{
    width: 80%;
}

#fsSess{
    display: block;
    width: 40%;
} */